    <div class="row contact justify-content-center">
        <div class="col-md-12 text-center">
            <h4>Like What You See? </h4>
            <a mat-raised-button color="warn" href="../assets/myresume.pdf" download><i class="far fa-file-pdf mr-3"></i> Download My Resume</a>
            <a id="contact"href="mailTo:chris812689@gmail.com"  mat-raised-button color="basic">Contact</a>
        </div>
    </div>
    <div class="row footer pt-3 pb-3">
        <div class="col-md-12">
            <div class="row ">
                <div class="col-md-12 text-center">
                    <a href="https://github.com/chris812689" class="align-self-center"><i class="fab fa-github pr-3"style="color: white;"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100048664896524"><i class="fab fa-facebook-square pr-3" style="color: #3b5998"></i></a>
                    <span><a href="https://www.linkedin.com/in/christopher-williams-8a6599186/"><i class="fab fa-linkedin"></i></a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-12 text-center  mr-5">
            <p>&copy; Copyright Christopher Williams 2020</p>
        </div>

    </div>

