<div class="container">
    <div class="row contact">
        <div class="col-md-12">
            <h4>Like What You See? </h4>
            <a mat-raised-button color="warn" href="../assets/myresume.pdf" download><i class="far fa-file-pdf"></i> Download My Resume</a>
            <button mat-raised-button color="basic">Contact</button>
        </div>
    </div>
    <div class="row footer">
        <div class="col-md-12 text-center">
            <p>&copy; Copyright Christopher Williams 2020</p>
        </div>
    </div>
</div>
